:root {
  --bg-color: #111826;
  --font-color: #fff;
}
* {
  box-sizing: border-box;
  
}

body{
  background-color: var(--bg-color);
  color: var(--font-color);
}h1 {
  text-align: center;
}


ul, li {
  list-style-type: none;
}


.form-control {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#library-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}